In [23]:
import pandas as pd

file_path = '../../data/raw/challenge_campus_biomedico_2024.parquet'
df = pd.read_parquet(file_path, engine= 'pyarrow')

In [24]:
# Convert 'ora_inizio_erogazione' and 'ora_fine_erogazione' to datetime
df['ora_inizio_erogazione'] = pd.to_datetime(df['ora_inizio_erogazione'], utc=True, errors='coerce')
df['ora_fine_erogazione'] = pd.to_datetime(df['ora_fine_erogazione'], utc=True, errors='coerce')

In [25]:
df['durata_erogazione_min'] = (df['ora_fine_erogazione'] - df['ora_inizio_erogazione']).dt.total_seconds() / 60

In [26]:
app = df[df['durata_erogazione_min'].isnull()]
app[['id_prenotazione', 'codice_descrizione_attivita', 'durata_erogazione_min']].head()

    id_prenotazione  codice_descrizione_attivita  durata_erogazione_min
8   HW4SL1FPUBFGQOM                            8                    NaN
14  XVEOUZTWGNCPHZ9                           16                    NaN
30  F53FM9I9FGJ8QXN                           57                    NaN
38  9QJK1Z8R9M8DTDR                            5                    NaN
42  ICSC7LMYSW7JQSW                           10                    NaN

In [27]:
mean_duration = df.groupby('codice_descrizione_attivita')['durata_erogazione_min'].mean()

In [37]:
mean_duration[mean_duration.index == 16]

codice_descrizione_attivita
16    33.859661
Name: durata_erogazione_min, dtype: float64

In [29]:
# Impute missing values in 'durata_erogazione_min' with the mean duration
# df['durata_erogazione_min'].fillna(mean_duration, inplace=True)

In [30]:
# app = df[df['id_prenotazione'] == 'TEXVMH532SWPKQL']
# app[['id_prenotazione', 'codice_descrizione_attivita', 'durata_erogazione_min']].head()

In [31]:
df.shape

(484291, 34)

In [32]:
# train['Age'] = train.groupby('Title')['Age'].transform(lambda x: x.fillna(x.mean()))

df['durata_erogazione_min'] = df.groupby('codice_descrizione_attivita')['durata_erogazione_min'].transform(lambda x: x.fillna(x.mean()))

In [33]:
df.shape

(484291, 34)

In [34]:
df['durata_erogazione_min'].isnull().sum()

np.int64(0)

In [38]:
df[df['id_prenotazione'] == 'XVEOUZTWGNCPHZ9']

,id_prenotazione,id_paziente,data_nascita,sesso,regione_residenza,codice_regione_residenza,asl_residenza,codice_asl_residenza,provincia_residenza,codice_provincia_residenza,...,tipologia_struttura_erogazione,codice_tipologia_struttura_erogazione,id_professionista_sanitario,tipologia_professionista_sanitario,codice_tipologia_professionista_sanitario,data_erogazione,ora_inizio_erogazione,ora_fine_erogazione,data_disdetta,durata_erogazione_min
14,XVEOUZTWGNCPHZ9,WJISDX16K80A828P,1971-05-15,male,Veneto,50,AZIENDA ULSS N. 9 SCALIGERA,50509,Verona,VR,...,Ospedale a gestione diretta,osp-dir,BLZAAN93J26Y713E,Infermiere,INF,2019-02-06T12:00:00+01:00,NaT,NaT,2019-01-26T11:33:50+01:00,33.859661